@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import "tailwindcss";


@theme{
  --breakpoint-xs: 200px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

@theme{
  --font-poppins: "Poppins", "sans-serif";
  
}

@theme{
  --font-roboto:  "Roboto", sans-serif;
}

@theme{
  --font-archivo:  "Archivo Black", sans-serif;
}

